
.square {
    width: 50%;
    
}

h1 {
    color: cornflowerblue;
}

#pink {
    background-color: lightpink;
}

#green {
    background-color: limegreen;
}

#yellow {
    background-color: yellow;
}

#blue {

    background-color: turquoise;
}