html {
    background-color: #443e38;
}

body {
    width: 800px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: rgb(90, 137, 151);
    background-image: url(../images/gatorskin.jpg);
    background-blend-mode: overlay;
    width: 800px;
    margin-top: -4px;
    padding: 8px 20px;
    border: black 3px inset;
    border-top: none;
}
nav a {
    border-radius: 3em 10em 10em 2em / 10em 3em 10em 2em;
    border: 5px ridge;
    border-color: white;
    background: linear-gradient(
        170deg,
        rgba(32, 146, 232, 0.6) 0%,
        rgba(14, 95, 156, 0.3) 100%
    );
    font-family: "Berkshire Swash", cursive;
    font-size: 1.8rem;
    padding: 5px 15px;
    color: rgba(1, 11, 70, 0.8);
    text-decoration: none;
}

nav a:hover {
    color: black;
}

#banner {
    border: black 3px inset;
    width: 800px;
    height: auto;
}

main {
    border: black 3px inset;
    padding: 15px 0;
    background: #4f7b8a;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1 {
    font-family: "Berkshire Swash", cursive;
    font-size: 2.2rem;
    color: black;
    text-align: center;
    margin: 0 25px;
    width: 95%;
    background: #82bdc5;
    padding: 5px 0 8px 0;
    border: black 2px inset;
}

/* PORTAL STUFF */

#portal {
    background-image: url(../images/portal.png);
    background-repeat: no-repeat;
    background-position: top center;
    width: 800px;
    min-height: 800px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.thumbnail {
    width: 87px;
    height: 87px;
    position: relative;
    top: 650px;
}

.portpic {
    width: 348px;
    height: 348px;
    position: absolute;
    left: 228px;
    top: 128px;
    display: none;
}

#hand_thumb:hover ~ #circle-hand,
#cat_thumb:hover ~ #circle-cat,
#buffalo_thumb:hover ~ #circle-buffalo,
#back_thumb:hover ~ #circle-back,
#lion_thumb:hover ~ #circle-lion,
#starbirds_thumb:hover ~ #circle-starbirds,
#snowleopard_thumb:hover ~ #circle-snowleopard {
    display: block;
}

.overlay {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    align-items: center;
    text-align: center;
    display: none;
}

.overlay img {
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
    transform: scale(0.95);
    transition: transform 0.3s;
}

.overlay:target {
    outline: none;
    cursor: default;
    display: block;
}

.overlay:target img {
    transform: scale(1);
}
